@font-face {font-family: linecons;src: url("fonts/linecons.eot");src: url("fonts/linecons.eot?#iefix") format("embedded-opentype"),url("fonts/linecons.ttf") format("truetype"),url("fonts/linecons.woff") format("woff"),url("fonts/linecons.svg#linecons") format("svg");font-weight: 400;font-style: normal;}
[class*=" linecon-icon-"], [class^=linecon-icon-] {font-family: linecons;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.linecon-icon-heart:before {content: "";}
.linecon-icon-cloud:before {content: "";}
.linecon-icon-star:before {content: "";}
.linecon-icon-tv:before {content: "";}
.linecon-icon-sound:before {content: "";}
.linecon-icon-video:before {content: "";}
.linecon-icon-trash:before {content: "";}
.linecon-icon-user:before {content: "";}
.linecon-icon-key:before {content: "";}
.linecon-icon-search:before {content: "";}
.linecon-icon-eye:before {content: "";}
.linecon-icon-bubble:before {content: "";}
.linecon-icon-stack:before {content: "";}
.linecon-icon-cup:before {content: "";}
.linecon-icon-phone:before {content: "";}
.linecon-icon-news:before {content: "";}
.linecon-icon-mail:before {content: "";}
.linecon-icon-like:before {content: "";}
.linecon-icon-photo:before {content: "";}
.linecon-icon-note:before {content: "";}
.linecon-icon-food:before {content: "";}
.linecon-icon-t-shirt:before {content: "";}
.linecon-icon-fire:before {content: "";}
.linecon-icon-clip:before {content: "";}
.linecon-icon-shop:before {content: "";}
.linecon-icon-calendar:before {content: "";}
.linecon-icon-wallet:before {content: "";}
.linecon-icon-vynil:before {content: "";}
.linecon-icon-truck:before {content: "";}
.linecon-icon-world:before {content: "";}
.linecon-icon-clock:before {content: "";}
.linecon-icon-paperplane:before {content: "";}
.linecon-icon-params:before {content: "";}
.linecon-icon-banknote:before {content: "";}
.linecon-icon-data:before {content: "";}
.linecon-icon-music:before {content: "";}
.linecon-icon-megaphone:before {content: "";}
.linecon-icon-study:before {content: "";}
.linecon-icon-lab:before {content: "";}
.linecon-icon-location:before {content: "";}
.linecon-icon-display:before {content: "";}
.linecon-icon-diamond:before {content: "";}
.linecon-icon-pen:before {content: "";}
.linecon-icon-bulb:before {content: "";}
.linecon-icon-lock:before {content: "";}
.linecon-icon-tag:before {content: "";}
.linecon-icon-camera:before {content: "";}
.linecon-icon-settings:before {content: "";}