.elementor-19 .elementor-element.elementor-element-c02d4f6 {text-align: center;}
.elementor-19 .elementor-element.elementor-element-e5502c3 {text-align: center;}
.elementor-19 .elementor-element.elementor-element-e5502c3.elementor-widget-heading .elementor-heading-title {color: #939393;}